<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    Completed Todos
     <ul>
    {% for todo in todos %}

    <li>
    <a href="{% url 'viewtodo' todo.id %}">
    {% if todo.important %}<strong>{% endif %}
    {{todo.title}}
    {% if todo.important %}</strong>{% endif %}
    {% if todo.memo %}
     - {{todo.memo}}
     {% endif %}
     {{todo.datecompleted|date:'M j Y H:i'}}
     </a>
     </li>

    {% endfor %}
    
    </ul>

</body>
</html>